## Summary of {{ctrf.tool.name}} Security Scan Results

<table>
    <thead>
        <tr>
            <th>LOW</th>
            <th>MEDIUM</th>
            <th>HIGH</th>
            <th>CRITICAL</th>
            <th>UNKNOWN</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ctrf.extensions.severityCounts.LOW}}</td>
            <td>{{ctrf.extensions.severityCounts.MEDIUM}}</td>
            <td>{{ctrf.extensions.severityCounts.HIGH}}</td>
            <td>{{ctrf.extensions.severityCounts.CRITICAL}}</td>
            <td>{{ctrf.extensions.severityCounts.UNKNOWN}}</td>
        </tr>
    </tbody>
</table>

{{#if (eq ctrf.summary.passed ctrf.summary.tests)}}
### No vulnerabilities with set severity found! 🎉
{{else}}
## Found Vulnerabilities:
{{#each ctrf.tests}}
<details>
    <summary>🔴 {{pkgName}}@{{installedVersion}} - {{id}} ({{severity}})</summary>
    <table>
        <tr>
            <th>image</th>
            <td>{{image}}</td>
        </tr>
        {{#if package}}
        <tr>
            <th>package</th>
            <td>{{package}}</td>
        </tr>
        {{/if}}
        {{#if installedVersion}}
        <tr>
            <th>installed version</th>
            <td>{{installedVersion}}</td>
        </tr>
        {{/if}}
        {{#if fixedVersion}}
        <tr>
            <th>fixed in</th>
            <td>{{fixedVersion}}</td>
        </tr>
        {{/if}}
        {{#if status}}
        <tr>
            <th>status</th>
            <td>{{status}}</td>
        </tr>
        {{/if}}
        {{#if severity}}
        <tr>
            <th>severity</th>
            <td>{{severity}}</td>
        </tr>
        {{/if}}
        {{#if description}}
        <tr>
            <th>description</th>
            <td>{{description}}</td>
        </tr>
        {{/if}}
        {{#if source}}
        <tr>
            <th>source</th>
            <td>
                <a href="{{source.ID}}">{{source.URL}}</a>
            </td>
        </tr>
        {{/if}}
    </table>
</details>
{{/each}}
{{/if}}
